h3{
    margin: 1rem;
}
ul{
    list-style: none;
}
.banner{
    text-align: center;
    background: #ea5c22;
    width: 100%;
    border-bottom: 1px solid silver;
    height: 557px;
}
.banner-text{
    color: #fff;
    margin-top: 10rem;
}
.button{
   margin: 4rem auto;
}
.info{
    margin-top: 9rem;
}
.icn{
    text-align: center;
}
.icon{
    text-align: center;
    margin-bottom: 3rem;
}

.description{
    border:1px solid silver;
}
.centered{
    margin-bottom: 5rem;
    text-align: center;
}
.faq{
    margin-bottom: 3rem;
}
.help{
    border: 
}
.flex-column{margin: 5px;padding: 4px;display: block;}
footer{text-align: center; background: #424242;padding: 2rem;}
footer, h6{color: #eee;}
.footer-link > .flex-column > a{color: #bdbdbd;}
